<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties">
        <!--properties中还可以配置一些属性名和属性值  -->
         <!--<property name="jdbc.driver" value=""/>-->
    </properties>

    <!--别名定义-->
    <!--<typeAliases>-->
    <!--针对单个别名定义-->
        <!--<typeAlias type="com.guomiaomiao.pojo.User" alias="user"/>-->
    <!--</typeAliases>-->

    <!--<typeAliases>-->
    <!--推荐使用-->
    <!--批量别名定义，指定包名，自动定义包名，包名就是类名（首字母就是大写或者小写）-->
        <!--<package name="com.guomiaomiao.pojo"/>-->
    <!--</typeAliases>-->

    <environments default="development">
        <environment id="development">
            <!--使用JDBC事务管理，事务控制由mybatis-->
            <transactionManager type="JDBC"/>
            <!--数据库连接池，由mybatis管理-->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driverClassName}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>

    <!--通过接口加载配置文件，相对于单个加载，推荐使用批量加载-->
    <!--要求：mapper接口和mapper.xml文件名一致，且在同一个文件中，使用的是mapper代理方法-->
    <!--<mappers>-->
        <!--<package name="com/guomiaomiao/dao"/>-->
    <!--</mappers>-->

</configuration>
